.sk-ly-post {
  transform: translateY(-50%);
  &-wrapper {
    @include center-box;
    flex-direction: column;
    height: 100vh;
  }
  &__title {
    font-size: 32px;
    &-aside {
      font-size: 16px;
    }
  }
  &__input {
    margin-top: 30px;
    width: 100%;
  }
}

.top-bar {
  @include pos(fixed, 12px, initial, initial, 12px, 10);
  font-size: 24px;
}

.history-score-list {
  @include center-box;
  flex-wrap: wrap;
  gap: 30px;
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
  &__item {
    @include center-column-box;
    align-items: stretch;
    box-sizing: border-box;
    width: 400px;
    padding: 16px;
    &-title {
      margin-bottom: 16px;
      text-align: center;
    }
    &-cell {
      @include center-column-box;
      box-sizing: border-box;
      gap: 3px;
      width: 90px;
      &-ave {
        font-size: 1.3em;
        font-weight: bolder;
      }
    }
    &-content {
      @include center-box;
      align-items: stretch;
      gap: 16px;
      &__score {
        &-group {
          flex-grow: 2;
          @include center-box;
          flex-direction: column;
        }
      }
    }
  }
}

.no-data {
  @include center-box;
  flex-direction: column;
  height: 100vh;
  font-size: 50px;
  &__text {
    margin-top: 30px;
    font-size: 20px;
  }
}

.theme-normal {
  .history-score-list {
    &__item {
      @include common-box-shadow-top;
      background-color: var(--bgColor);
    }
  }
}

.theme-dark {
  .history-score-list {
    &__item {
      @include common-box-shadow-top;
      background-color: var(--bgColor);
    }
  }
}

$width: 1200px;

.shengkao-luoyang-container {
  width: $width;
  margin: 0 auto;
  .history-score-chart {
    width: $width;
  }
  .filter-line {
    border-left: 6px solid lightseagreen;
    padding-left: 4px;
    .input {
      @include text(#fff, 18px, left);
      width: 200px;
      margin-left: 15px;
      border-bottom: 1px solid #fff;
    }
    .list-sort-toggle {
      @include text(rgb(117, 117, 117), 14px);
      display: block;
      float: right;
      margin-left: 15px;
      padding: 2px 4px;
      cursor: pointer;
    }
  }
  .history-score-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    &__item {
      display: flex;
      box-sizing: border-box;
      width: 25%;
      padding: 15px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      &-title {
        margin-bottom: 15px;
      }
      &-cell {
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2px;
        &-ave {
          font-size: 1.3em;
          font-weight: bolder;
        }
      }
      &-content {
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        gap: 15px;
        &__year {
          display: block;
          font-size: 9px;
        }
        &__score {
          &-group {
            @include center-box;
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media (max-width: $mobile-min-width) {
  body {
    width: 100%;
  }
  .history-score-list {
    padding: 0;
    &__item {
      @include pos(sticky, 0, 0, initial, 0, 1);
      width: 100%;
      padding: 16px 0 0;
      &:last-of-type {
        justify-content: start;
        min-height: 100vh;
      }
      &-content {
        gap: 1px;
      }
    }
  }
}
