$mobile-min-width: 1200px;
$body-bg: #282c34;

@mixin flex($jc: center, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin box(
  $width: initial,
  $height: initial,
  $margin: initial,
  $padding: initial,
  $border: initial
) {
  width: $width;
  height: $height;
  margin: $margin;
  padding: $padding;
  border: $border;
}

@mixin text($color: inherit, $fontSize: inherit, $textAlign: inherit) {
  color: $color;
  font-size: $fontSize;
  text-align: $textAlign;
}

@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin text-multi-overflow($line: 2) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}

@mixin pos(
  $pos: absolute,
  $top: initial,
  $right: initial,
  $bottom: initial,
  $left: initial,
  $zIndex: initial
) {
  position: $pos;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
  z-index: $zIndex;
}

@mixin center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-column-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin common-box-shadow-top {
  box-shadow: 0px -6px 6px 0px #161616;
}

@mixin common-box-shadow-bottom {
  box-shadow: 0px 6px 6px 0px #161616;
}
