.analysis-container {
  position: relative;
  padding-top: 50px;
  .page-title {
    @include pos(fixed, 0, 0, initial, 0, 10);
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-weight: bolder;
  }
  .table-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1;
  }

  .input {
    .ant-input-number-input-wrap,
    .ant-input-number-input {
      padding: 0;
      border: 0;
      border-radius: 0;
      // color: #fff;
      text-align: center;
      border-bottom: 1px solid #fff;
      font-family: fantasy;
    }
    &.score-section__input {
      width: 66px;
    }
  }

  .post-name {
    // color: #fff;
    font-weight: bolder;
  }

  .score-section__score,
  .score-section__input {
    display: inline-block;
    padding: 0 8px;
    border: 0;
    background: transparent;
    font-family: fantasy;
    font-size: 20px;
    text-align: right;
  }

  .score-section__input {
    text-align: center;
  }

  .score-section__input-post {
    width: 100px;
  }

  .score-section__score-no-width {
    width: fit-content;
  }

  .score-range__split {
    display: inline-block;
    margin: 0 4px;
  }

  .container {
    padding: 12px;
    font-size: 16px;
    overflow: scroll;
  }

  .section {
    @include pos(sticky, 50px, 0, initial, 0, 1);
    &:last-of-type {
      box-sizing: border-box;
      min-height: calc(100vh - 50px);
    }
  }

  .title {
    // @include pos(sticky, 50px, 0, initial, 0, 1);
    padding: 16px;
    font-size: 20px;
    &-text {
      width: $mobile-min-width;
    }
  }

  .group {
    width: $mobile-min-width;
    margin: 0 auto 16px;
    &-select {
      width: 300px;
      margin: 0 16px 0 0;
    }
    .card {
      border-radius: 6px;
      padding: 16px;
      border: 1px solid #121212;
    }
  }
}

.theme-normal {
  .page-title {
    @include common-box-shadow-bottom(#ddd);
  }
  .title {
    @include common-box-shadow-top(#ddd);
  }
  .page-title, .section {
    background-color: #fff;
  }
}

.theme-dark {
  .page-title {
    @include common-box-shadow-bottom;
  }
  .title {
    @include common-box-shadow-top;
  }
  .page-title, .section {
    background-color: #282c34;
  }
}

@media (max-width: $mobile-min-width) {
  .analysis-container {
    .title {
      &-text {
        width: 100%;
      }
    }
    .group {
      box-sizing: border-box;
      width: 100%;
      padding: 0 16px;
      &-line {
        display: block;
      }
      &-select {
        width: 100%;
        margin: 0 0 16px;
      }
    }
  }
}
