.shengkao-gangwei-henan-2024 {
  .form {
    margin: 20px;
    .post-count {
      margin-left: 16px;
      &-num {
        padding: 0 4px;
        font-family: fantasy;
      }
    }
  }
  .table {
    margin: 20px;
  }
}