.shengkao-city-post-select {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  overflow: auto;
  .copy-wrapper {
    cursor: pointer;
    .copy-icon {
      margin-left: 4px;
    }
  }
  .form {
    padding: 16px;
    .post-count {
      margin-left: 16px;
      &-num {
        padding: 0 4px;
        font-family: fantasy;
      }
    }
  }
  .table {
    padding: 0 16px 16px;
    overflow: auto;
    .ant-spin-nested-loading {
      height: 100%;
      .ant-spin-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;
        .ant-table {
          overflow: auto;
        }
      }
    }
  }
}

.ant-table-wrapper .ant-table-pagination.ant-pagination {
  margin-top: 0;
}

@media (max-width: $mobile-min-width) {
  .shengkao-city-post-select {
    .form {
      &-item {
        &__major-type,
        &__recruitment-institution,
        &__post-id {
          width: 100%;
          margin-inline-end: 0;
        }
        &__operation {
          margin-top: 10px;
        }
      }
    }
  }
}
