.shengkao-city-post-select {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  overflow: auto;
  .icon-pos {
    display: inline;
    margin-left: 8px;
  }
  .form {
    padding: 16px;
    .ant-form {
      gap: 16px 0;
      &-item {
        &__major-type {
          width: 600px;
        }
        &__recruitment-institution {
          width: 300px;
        }
      }
    }
  }
  .table {
    padding: 0 16px 16px;
    overflow: auto;
    .ant-spin-nested-loading {
      height: 100%;
      .ant-spin-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;
        .ant-table {
          overflow: auto;
        }
      }
    }
    .post-count {
      &-num {
        padding: 0 4px;
        font-family: fantasy;
      }
      .link {
        margin-left: 16px;
      }
    }
  }
  .ant-table {
    overflow-y: scroll;
    .ant-table-content {
      display: initial;
    }
    .ant-table-thead {
      position: sticky;
      top: 0;
      z-index: 3;
    }
  }
}

.ant-table-wrapper .ant-table-pagination.ant-pagination {
  margin-top: 0;
  margin-bottom: 16px;
}

@media (max-width: $mobile-min-width) {
  .ant-table-wrapper .ant-table-pagination.ant-pagination {
    margin-bottom: 4px;
  }
  .shengkao-city-post-select {
    .form {
      padding: 8px;
      .ant-form {
        gap: 4px 0;
        &-item {
          margin-inline-end: 0 !important;
          &__major-type,
          &__recruitment-institution,
          &__post-id,
          &__operation {
            width: 100%;
          }
          &__operation {
            .ant-btn-group,
            .ant-btn {
              width: 100%;
            }
          }
        }
      }
    }
    :where(.css-dev-only-do-not-override-kghr11).ant-table-wrapper
      .ant-table-pagination.ant-pagination {
      margin-bottom: 4px;
    }
    .table {
      padding: 0;
    }
  }
}
