.guokao-city-post-select {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  overflow: auto;
  .form {
    padding: 16px;
  }
  .post-count {
    &-num {
      padding: 0 4px;
      font-family: fantasy;
    }
  }
  .table {
    padding: 0 16px 16px;
    overflow: auto;
    .ant-spin-nested-loading {
      height: 100%;
      .ant-spin-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;
        .ant-table {
          overflow: auto;
        }
      }
    }
  }
}

.col-tips {
  color: #999;
  font-size: 12px;
}

.btn-link {
  padding: 0;
  word-break: break-all;
}

.ant-table-wrapper .ant-table-pagination.ant-pagination {
  margin-top: 0;
}

@media (max-width: $mobile-min-width) {
  .guokao-city-post-select {
    .form {
      .ant-form-item {
        margin-inline-end: 0;
        &__major-type,
        &__recruitment-institution,
        &__post-id,
        &__operation {
          width: 100%;
          margin-top: 4px;
        }
        &__operation {
          .ant-btn-group,
          .ant-btn {
            width: 100%;
          }
        }
      }
    }
  }
}
