.text-overflow {
  &-wrapper {
    display: flex;
  }
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  &::before {
    content: '';
    float: right;
    width: 0;
    height: calc(100% - 20px);
  }
}

.toggle-hidden-btn {
  float: right;
  clear: both;
  height: 18px;
  line-height: 18px;
  padding: 0;
}
